.navbar {
    background-color: var(--blue);
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    max-height: 60px;
    justify-content: space-between;
}

.logo {
    width: max-content;
    height: max-content;
    margin: 10px 0 0 40px;
    display: flex;
    align-content: center;
    text-align: center;
    font-size: 1.4rem;
}

.logo img {
    height: 25px;
}

.logo div {
    height: 35px;
}

.logo_link {
    color: white;
}

.links {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    margin-right: 10px;
    max-height: 60px;
}

.link_item_div {
    padding: 0 15px;
    margin: 0 15px;
    font-size: 1.3rem;
}

.link_item {
    color: white;
    line-height: 2rem;
}

.link_container {
    display: flex;
    flex-direction: column;
}

.underline {
    background-color: white;
    height: 2px;
    margin: auto;
}
