.split_name {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
}

.log_workout {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    background-color: var(--blue);
    text-decoration: none;
    color: black;
    padding: 25px;
    font-size: 160%;
    border-radius: 40px;
}
