.modal_container {
  width: max-content;
  height: max-content;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 10;
}

.delete_entry {
  padding: 10px 10px 5px 10px;
  color: crimson;
  border-radius: 6px;
  cursor: pointer;
}