.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 45%;
  min-width: 400px;
  max-height: 100%;
  position: relative;
}

.container h3 {
  width: 60%;
  height: 55px;
  margin: 5px auto 20px auto;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: calc(1.3rem + 0.6vw);
}

.add_btn_div {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-end;
  font-size: 2.3rem;
  padding: 0 10px;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.add_btn {
  color: var(--blue);
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 60px);
  box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
  width: 60%;
  margin: auto;
  padding: 5px 20px 0 20px;
  border-radius: 20px;
  min-width: 390px;
}

.list_sub_headings {
  width: 50%;
  margin: auto;
  min-width: 350px;
  padding: 10px 5px 0 5px;
  display: flex;
  font-size: 1.2rem;
}

.list_entries {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
  min-width: 350px;
}

.list_entries::-webkit-scrollbar {
  display: none;
}

.entry {
  margin: 10px 0;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 5px;
  font-size: 1.1rem;
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}

.entry:first-child {
  padding-top: 10px;
}

.entry:hover {
  background-color: lightgray;
}

#number_head,
.number {
  display: inline-block;
  margin-right: 20px;
  width: 33px;
}

#weight_head,
.weight {
  display: inline-block;
  margin-right: 70px;
  width: 65px;
}

.date {
  display: inline-block;
  width: 100px;
  margin-right: 20px;
}

#three_dots {
  cursor: pointer;
}

.modal_container {
  width: max-content;
  height: max-content;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 10;
}

.delete_entry {
  padding: 10px 10px 5px 10px;
  color: crimson;
  border-radius: 6px;
  cursor: pointer;
}

.entry_modal {
  position: relative;
}
